<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Question</title>
</head>
<body>
<div>
    <h3>Update Question</h3>
    <form th:action="@{/save}" th:object="${question}" method="post">
        <input type="hidden" name="id" th:value="${question.id}">
        <input type="hidden" name="publishedAt" th:value="${question.createdAt}">
        Title : <br>
        <input type="text" name="title" th:value="${question.title}"><br>
        Problem : <br>
        <textarea name="problem" th:text="${question.problem}"></textarea><br>
        Excepted Solution :<br>
        <textarea name="exceptedSolution" th:text="${question.exceptedSolution}"></textarea>
        <br>
        <label>Tags (space-separated):</label>
        <textarea name="tagInput" th:text="${tagNames}" class="form-control mb-4"></textarea><br>
        <button type="submit" class="common-button">Update</button>
        <a href="javascript:history.back()">Cancel</a>
    </form>
</div>
</body>
</html>