<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<a th:href="@{/new-question}">Ask Question</a>
<span th:each="tempQuestion : ${questions}">
    <p><strong>Title:</strong> <span th:text="${tempQuestion.title}"></span></p>
    <p><strong>Problem:</strong> <span th:text="${tempQuestion.problem}"></span></p>
    <p><strong>Tags:</strong></p>
    <ul>
        <li th:each="tag : ${tempQuestion.tags}" th:text="${tag.name}"></li>
    </ul>
    <a th:href="@{'/question/' + ${tempQuestion.id}}">read more</a>
<!--      <a th:href="@{/blog/full_post(postId=${tempBlog.id})}">Read More</a>-->
</span>

</span>
</body>
</html>